name: Build Debug

on:
  pull_request:
    branches: [ "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Decode google-services.json
        run: |
          if [ "${{ github.actor }}" = "dependabot[bot]" ]; then
            echo '{}' > app/google-services.json
          else
            echo "${{ secrets.DEBUG_GOOGLE_SERVICES_JSON_BASE64 }}" | base64 --decode > app/google-services.json
          fi

      - name: Setup Java JDK
        uses: actions/setup-java@v5.0.0
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew assembleDebug

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5
        with:
          name: AndroidCICD-debug.apk
          path: app/build/outputs/apk/debug/app-debug.apk
