name: Build Release

on:
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Decode google-services.json
        run: |
          mkdir -p app/src/release
          echo "${{ secrets.RELEASE_GOOGLE_SERVICES_JSON_BASE64 }}" | base64 --decode > app/google-services.json

      - name: Setup Java JDK
        uses: actions/setup-java@v5.0.0
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Decode keystore.jks
        run: echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > app/keystore.jks

      - name: Write keystore.properties
        run: |
          cat <<EOF > keystore.properties
          release.keyStore=keystore.jks
          release.storePassword=${{ secrets.KEYSTORE_PASSWORD }}
          release.keyAlias=${{ secrets.KEY_ALIAS }}
          release.keyPassword=${{ secrets.KEY_PASSWORD }}
          EOF

      - name: Build with Gradle
        run: ./gradlew assembleRelease
