name: Lint
on:
  pull_request:
    branches: ["master","develop", "feat/**"]
    paths:
      - "**/*.kt"
      - "**/*.xml"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: "Install ktlint"
        uses: nbadal/action-ktlint-setup@v1
        with:
          ktlint_version: '0.40.0'

      - name: Decode google-services.json
        run: |
          echo "${{ secrets.DEBUG_GOOGLE_SERVICES_JSON_BASE64 }}" | base64 --decode > app/google-services.json

      - name: "Run Ktlint"
        run: ./gradlew ktlintCheck

      - name: "Run Android Lint"
        run: ./gradlew lintDebug

      - name: "Upload Ktlint report"
        uses: actions/upload-artifact@v5
        with:
          name: Ktlint Report
          path: app/build/reports/ktlint
