name: Qodana Scan
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: ["master", "develop"]

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Run Qodana Scan
        uses: JetBrains/qodana-action@v2025.2
        with:
          project-dir: .
          args: --mode=scan --show-report
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN_356957892 }}
          QODANA_ENDPOINT: 'https://qodana.cloud'
