name: Release Version

on:
  push:
    branches:
      - master

jobs:
  semantic-release:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    name: Semantic Release
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      - name: Install bundler & Fastlane
        run: |
          gem install bundler:2.2.27
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3

      - name: Decode google-services.json
        run: |
          mkdir -p app/src/release
          echo "${{ secrets.RELEASE_GOOGLE_SERVICES_JSON_BASE64 }}" | base64 --decode > app/src/release/google-services.json

      - name: Decode Keystore
        run: echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > app/keystore.jks

      - name: Export keystore path
        run: echo "KEYSTORE_PATH=$GITHUB_WORKSPACE/app/keystore.jks" >> $GITHUB_ENV

      - name: Write keystore.properties
        run: |
          cat <<EOF > keystore.properties
          release.keyStore=keystore.jks
          release.storePassword=${{ secrets.KEYSTORE_PASSWORD }}
          release.keyAlias=${{ secrets.KEY_ALIAS }}
          release.keyPassword=${{ secrets.KEY_PASSWORD }}
          EOF

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v5
        with:
          semantic_version: 17
          extra_plugins: |
            @semantic-release/changelog@5
            @semantic-release/exec@5
            @semantic-release/git@9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: octopus-developers
          GIT_AUTHOR_EMAIL: developers@octopus.com
          GIT_COMMITTER_NAME: octopus-developers
          GIT_COMMITTER_EMAIL: developers@octopus.com
          FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
          FIREBASE_TESTERS: ${{ secrets.FIREBASE_TESTERS }}
          FIREBASE_CLI_TOKEN: ${{ secrets.FIREBASE_CLI_TOKEN }}
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
